<!-- <div class="o-expose">
    <div *ngFor="let number of [1,2,3,4,5,6,7,8,9,10,11,12,13]" class="m-expose_cell">
        <img src="/assets/images/slideImages/NFT_SLIDE{{number}}.jpeg" width="100%" height="100%" alt="load"/>
    </div>
</div> -->

<div id="content">
    <svg #chart width="700" height="400">
      <g transform="translate(0, 100)">
        <!-- <circle *ngFor="let n of node" r="20" [attr.cx]="n.x" [attr.cy]="n.y"></circle> -->
        <defs *ngFor="let number of [1,2,3,4,5,6,7,8,9,10,11,12,13]">
            <pattern [attr.id]="'image' + number" height = "100%" width = "100%" patternContentUnits = "objectBoundingBox">
              <image x="0" y="0" width = "1" height = "1" patternContentUnits = "objectBoundingBox" [attr.xlink:href]="'/assets/images/slideImages/NFT_SLIDE'+ number +'.jpeg'"></image>
            </pattern>
        </defs>
      </g>
    </svg>
</div>
  
<!-- <div *ngIf="false" class="o-mondrian">
    <div class="m-mondrian_cell big">
        <img src="/assets/images/slideImages/NFT_SLIDE1.jpeg" width="100%" height="100%" alt="load"/>
    </div>
    <div class="m-mondrian_cell">
        <img src="/assets/images/slideImages/NFT_SLIDE2.jpeg" width="100%" height="100%" alt="load"/>
    </div>
    <div class="m-mondrian_cell">
        <img src="/assets/images/slideImages/NFT_SLIDE3.jpeg" width="100%" height="100%" alt="load"/>
    </div>
    <div class="m-mondrian_cell">
        <img src="/assets/images/slideImages/NFT_SLIDE4.jpeg" width="100%" height="100%" alt="load"/>
    </div>
    <div class="m-mondrian_cell">
        <img src="/assets/images/slideImages/NFT_SLIDE5.jpeg" width="100%" height="100%" alt="load"/>
    </div>
    <div class="m-mondrian_cell">
        <img src="/assets/images/slideImages/NFT_SLIDE6.jpeg" width="100%" height="100%" alt="load"/>
    </div>
    <div class="m-mondrian_cell">
        <img src="/assets/images/slideImages/NFT_SLIDE7.jpeg" width="100%" height="100%" alt="load"/>
    </div>
    <div class="m-mondrian_cell">
        <img src="/assets/images/slideImages/NFT_SLIDE8.jpeg" width="100%" height="100%" alt="load"/>
    </div>
    <div class="m-mondrian_cell">
        <img src="/assets/images/slideImages/NFT_SLIDE9.jpeg" width="100%" height="100%" alt="load"/>
    </div>
</div> -->