<article>
    <p class="title"> Vision</p>
    <p>
        The red and white of a checkered tablecloth. The simmering of the meat sauce in the pot. The scent of soffritto hovering in the air.</p>
    <p>
        Nonna's Pasta is the first NFT designed with the intention of connecting food reality to the virtual world. The Italian cuisine, loved and envied all over the world, it’s not only about culture,but also passion , memories , scents and tastes handed down from generation to generation.
    </p>
    <div class="hand">
        <img width="190px" height="320px" src="/assets/images/hand.png">
    </div>
</article>

<article>

    <div class="doublePlate">
        <img class="secondo" width="300px" height="300px" src="/assets/images/plate2.png">
        <img class="primo" width="300px" height="300px" src="/assets/images/plate1.png">
    </div>

    <p>By whom? Just by them: the grannies.</p>

    <p>
        Eternals , universal, like their affection enclosed within the walls of a kitchen. Our collection of dishes wants to pay homage to them by making them eternals in the blockchain as well, to pass on their recipes just as they did and will do with their children and grandchildren. 
    </p>
    <p>The flavor of Nonna's Pasta may be an all - Italian experience , but the grandmas we want to give voice to are the grannies of the world.</p>
    <p>Yours, too</p>
    
</article>