<div class="circlesContainer">
    <div class="circle">
        <div>
            <p class="bigText">8.820</p>
            <p class="smallText">Pieces of art</p>
        </div>
    </div>
    <div class="circle two bigger">
        <div>
            <p class="bigText">#1</p>
            <p class="smallText">Food-based NFT</p>
        </div>
    </div>
    <div class="circle three">
        <div>
            <p class="bigText">30M</p>
            <p class="smallText">Combinations</p>
        </div>
    </div>
</div>