<p class="title"> About </p>
<p class="subtitle">Nonna's Pasta is an innovative collection of NFT, made of colors, smells and flavors that recreate a real lifestyle.
</p>
<section class="stairDivs">
    <div class="vespa">
        <img width="180px" height="180px" src="/assets/images/vespa.png">
    </div>
    <div class="descriptionBox high green">
        The entirely hand-drawn NFT collection includes
        traditional dishes,
        wine bottles,
        goblets,
        tablecloths,
        tools
        and mascots.
        And especially memes.

    </div>
    <div class="descriptionBox mid lightPink">

        In addition, also
        rare jewelries,
        gilded cutlery,
        Moira the kitten,
        Petunia the hen,
        And did we already say memes?

        All to be discovered.
    </div>
    <div class="descriptionBox low pink">


        The Italian passport that will allow you to enter into grannies houses:
        vehicles of stories,
        love,
        memories,
        that we all carry in our hearts
    </div>
</section>