<div class="m-projectDescription_thirdSection">
    <div class="a-projectDescription_phase">
        <ul>
            <li>Creation of the first recipe book of the NFTs created</li>
            <li>Buyers' names in the acknowledgments</li>
            <li>Community access with the ability to discover the stories of Italian grandmothers</li>
            <li>Periodic newsletters full of recipes.</li>
        </ul>
    </div>
    <div class="divider">
        <div class="circle"><span>1</span></div>
        <div class="a-projectDescription_splitter"></div>
    </div>
    <div class="a-projectDescription_background">
        <img class="m-header_logo" src="/assets/images/Phase1.png" alt="not_found"/>
    </div>

    <div class="a-projectDescription_background">
        <img class="m-header_logo" src="/assets/images/Phase2.png" alt="not_found"/>
    </div>
    <div class="divider">
        <div class="circle"><span>2</span></div>
        <div class="scription_splitter"></div>
    </div>
    <div class="a-projectDescription_phase">
        <ul>
            <li>Partnerships with food brands and restaurants </li>
            <li>Contest on Italian cuisine.</li>
        </ul>
        <p>First runners-up will win a full-paid trip to Italy. Runners-up will receive high-quality ingredients from the NFT region in their possession to make their own dish with the original recipe. Third-place winners will win various gadgets and customized clothing.</p>
    </div>

    <div class="a-projectDescription_phase">
        <div>{{'ROADMAP_THREE' | translate}}</div>

        <ul>
            <li>New content</li>
            <li>Web Shop launch with merchandising</li>
            <li>New NFT collection dedicated to grandmas with access to exclusive discounts for early purchasers of the first Nonna's Pasta collection</li>
        </ul>
    </div>
    <div class="divider">
        <div class="circle"><span>3</span></div>
        <div class="a-projectDescription_splitter"></div>
    </div>
    <div class="a-projectDescription_background">
        <img class="m-header_logo" src="/assets/images/Phase3.png" alt="not_found"/>
    </div>

    <div class="a-projectDescription_background">
        <img class="m-header_logo" src="/assets/images/Phase4.png" alt="not_found"/>
    </div>
    <div class="divider">
        <div class="circle"><span>4</span></div>
        <div class="a-projectDescription_splitter"></div>
    </div>

    <div class="a-projectDescription_phase">
        <ul>
            <li>Opening a Take-Away Restaurant based on NFT dishes, living reproductions of the recipes that make up the collection, thus connecting the virtual world to the real world.</li>
            <li>Those in possession will enjoy one free dish per week, discounts and access to VIP areas of the restaurant.</li>
            <li>Releasing the Grandma's Kit, with the best tools chosen by grannies to prepare their tasty recipes, along with detailed tutorials for making the dishes right at home.</li>
        </ul>
    </div>
</div>


<div class="m-projectDescription_thirdSection __mobile">
    <div class="a-projectDescription_phase">
        <div class="circle"><span>1</span></div>
        <div>{{'ROADMAP_ONE' | translate}}</div>
    </div>
    <div class="a-projectDescription_background">
        <img class="m-header_logo" src="/assets/images/Phase1.png" alt="not_found"/>
    </div>

    <div class="a-projectDescription_phase">
        <div class="circle"><span>2</span></div>
        <div>{{'ROADMAP_TWO' | translate}}</div>
    </div>

    <div class="a-projectDescription_background">
        <img class="m-header_logo" src="/assets/images/Phase2.png" alt="not_found"/>
    </div>

    <div class="a-projectDescription_phase">
        <div class="circle"><span>3</span></div>
        <div>{{'ROADMAP_THREE' | translate}}</div>
    </div>
    <div class="a-projectDescription_background">
        <img class="m-header_logo" src="/assets/images/Phase3.png" alt="not_found"/>
    </div>
    <div class="a-projectDescription_phase">
        <div class="circle"><span>4</span></div>
        <div>{{'ROADMAP_FOUR' | translate}}</div>
    </div>
    <div class="a-projectDescription_background">
        <img class="m-header_logo" src="/assets/images/Phase4.png" alt="not_found"/>
    </div>
</div>