<section class="title">
    <div class="main">OUR VALUES</div>
    <div class="sub">A dish is worth a thousands words</div>
</section>
<section class="cards">
    <article>
        <img src="/assets/images/plates/plate_Emilia-Romagna.png" alt="piatto"/>
        <div class="subtitle"> Authenticity</div>
        <div class="text">
                Italian culinary traditions are sacred,
                and we are committed to being consistent with the recipes handed down by our grandmothers. 
                We do not propose refined cuisine but the warmest and most welcoming home cooking, just like a grandmother's.
        </div>
    </article>
    <article class="big">
        <img src="/assets/images/plates/plate_Umbria.png" alt="piatto"/>
        <div class="subtitle"> Generosity</div>
        <div class="text">
            Who is more generous than a grandmother? The one who shares knowledge and food, with generous
            portions, selflessness and spirit of sacrifice dedicated to family. 
            We want to be like them:
            optimistic,
            idealistic, inclusive with anyone who will sit at our table.
        </div>
    </article>
    <article>
        <img src="/assets/images/plates/plate_Toscana.png" alt="piatto"/>
        <div class="subtitle"> Community</div>
        <div class="text">
            Building a community passionate about Italian cuisine and culture, investing the earnings to make
            physical goods and exclusive content, is
            our way of opening doors to the world of Italian
            grandmothers, allowing you to join a big family.
        </div>
    </article>
</section>